.addtask {
    display: flex;
    border: 1px solid #51abcb;
}
.taskbody {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 5px;
}
.taskbody:focus {
    border: 1px solid #51abcb;
    background-color: #e8f0fe;
}
.submitBtn {
    background-color: #51abcb;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
}
.submitBtn:hover {
    background-color: #3992a4;
}
