* {
    box-sizing: border-box;
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}
:root {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #51abcb;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* mainheader css style */
.mainheadercontainer {
    background-color: rgba(7, 30, 38);
    margin: 0;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainheader {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}
/* new task css style */
.addtask {
    display: flex;
    border: 1px solid #51abcb;
}
.taskbody {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 5px;
}
.taskbody:focus {
    border: 1px solid #51abcb;
    background-color: #e8f0fe;
}
.submitBtn {
    background-color: #51abcb;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
}
.submitBtn:hover {
    background-color: #3992a4;
}
/* task css style */
li {
    list-style: none;
    margin-bottom: 10px;
    background-color: #51abcb;
    padding: 5px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox {
    margin-right: 10px;
}

.editingTaskInput {
    outline: none;
    border: none;
    border-radius: 3px;
}
.strikeThrough {
    text-decoration: line-through; /* CSS property to strike-through the text */
    color: #bbb; /* Optional: change color to indicate completion */
}

.editBtn,
.delBtn,
.detailBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}
.editBtn {
    margin-right: 7px;
}
.detailBtn {
    margin-right: 10px;
}

/* HomePage css style part */
.taskboardheader {
    text-align: center;
    padding-bottom: 20px;
}
.taskBoardContainer {
    margin: 100px auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(7, 30, 38);
    color: #fff;
}
.filteringTasks {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}
.activeFilter {
    border: none;
    border-bottom: 1px #fff solid;
    outline: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.nonactiveFilter {
    border: none;
    outline: none;
    background-color: transparent;
    color: #bbb;
    cursor: pointer;
    font-size: 18px;
}
.clearBtn {
    outline: none;
    border: 1px solid #51abcb;
    background-color: transparent;
    color: #fff;
    margin-top: 8px;
    padding: 5px;
    cursor: pointer;
}
.clearBtnContainer {
    display: flex;
    justify-content: center;
}
.clearBtn:hover {
    background-color: #3992a4;
}
.notask {
    text-align: center;
}

.modal {
    max-width: 500px;
    margin: 15% auto;
    padding: 1% 2% 1% 2%;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(7, 30, 38);
    color: #fff;
}
.modal h2 {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.closeBtn {
    background-color: #51abcb;
    outline: none;
    color: white;
    padding: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
}
table {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}
.closeBtnContainer {
    display: flex;
    justify-content: center;
}
