* {
    box-sizing: border-box;
    font-family: "Poppins";
}
:root {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #51abcb;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 5% 35%;
    padding: 2% 2% 1% 2%;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #071e26;
    color: #fff;
}
h1 {
    text-align: center;
}
